.note {
  background: var(--white);
  border-radius: 7px;
  box-shadow: 0 2px 5px #170017;
  padding: 10px 10px 0 10px;
  width: 240px;
  margin: 16px;
}
.note h1 {
  font-size: 18px;
  margin-bottom: 6px;
}
.note p {
  font-size: 18px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: var(--white);
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.note-features {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time {
  font-size: 1px;
}

.note .time {
  font-size: 15px;
}

.note-features .fa-edit {
  margin-bottom: 5px;
}

.note-features .fa-trash-alt:hover {
  color: var(--hover);
}
.fa-edit:hover {
  color: var(--hover);
}
.fa-archive:hover {
  color: var(--hover);
}

.fa-arrow-up:hover {
  color: var(--hover);
}
