.element-tag {
  color: var(--white);
  background-color: var(--primary-color);
  width: max-content;
  margin: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--hover);
}

.element-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}
.tags-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  /* background-color: var(--primary-color); */
}

.tags-inner-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
