.scroller {
  background-color: var(--primary-color);
  width: 15.5rem;
  padding: 1rem;
  height: 100vh;
  border-right: 1px solid white;
  border-radius: 1rem;
  /* display: none; */
}

.component-child {
  color: var(--white);
}

.component-child:hover {
  background-color: var(--primary-color);
}

.component-content:hover {
  cursor: pointer;
  color: var(--hover);
}

.hide{
  display: none;
}

.collapse{
  color: var(--collapse-color);
}

@media only screen and (min-width: 775px) {
.collapse{
  display: none;
}
    }