.brand-name {
  color: var(--hover);
}

.landing-container {
  font-family: var(--landing-page-font);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: none;
  background-color: var(--primary-color);
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 50rem;
  margin-left: 2rem;
  margin-bottom: 4rem;
}

.landing-image {
  width: 50rem;
  margin-bottom: 4rem;
}

.landing-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
