.login-container {
  font-family: roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.forgot-password a {
  margin-left: auto;
  text-decoration: none;
}

.login-container button {
  width: 100%;
}

.login-container a {
  text-decoration: none;
  justify-content: center;
}

.input {
  margin: 0.75rem;
  width: 80%;
}

input[type="password"] {
  border: 1px solid;
}

input[type="email"] {
  border: 1px solid;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-inputs-signup {
  height: max-content;
}

.login-link:hover {
  cursor: pointer;
  color: var(--hover);
}


.error-msg{
  background-color: var(--white);
  width: max-content;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
  top: 37rem;
  left: 33rem;
  border: 1px solid var(--red);
}

.cross{
  cursor: pointer;
}

.input-icon{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fa-eye{
  border: 1px solid var(--black);
  padding: 7px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
}

.loginLink:hover{
cursor: pointer;
color: var(--primary-color);
}