@import url("https://fonts.googleapis.com/css2?family=Material+Icons%22");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined%22");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css%22");

:root {
  --primary-color: #170017;
  --white: #ffffff;
  --hover: rgb(92, 79, 168);
  --home-bg-color: #000000;
  --input-bg-color: rgba(0, 0, 0, 0.5);
  --landing-page-font: cursive;
}

body {
  margin: 0;
  background: #170017;
  background-image: url("https://transparenttextures.com/patterns/food.png");
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
