.home-container {
  display: flex;
}

.input-note-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.note-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.primary-button {
  background-color: var(--hover);
  border: none;
}

.primary-button:hover {
  cursor: pointer;
  background-color: var(--home-bg-color);
  border: none;
}

.hamburger{
  color: var(--white);
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  /* display: none; */
}

.hamburger:hover{
  color: var(--hover);
}

@media only screen and (min-width: 775px) {
 .scroller{
  display: block;
 }

 .hamburger{
  display: none;
 }
   }